/* Main cart container */
.cartBox {
  width: 460px;
  max-height: 90vh;
  overflow-y: auto;

  background: rgba(255, 255, 255, 0.55);
  backdrop-filter: blur(15px);

  border-radius: 20px;
  padding: 25px;

  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.15);

  animation: fadeIn 0.3s ease;
}

/* Title */
.cartTitle {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

/* Empty state */
.emptyState {
  padding: 40px;
  text-align: center;
  font-size: 16px;
  opacity: 0.7;
}

/* Each item in cart */
.cartItem {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: rgba(255, 255, 255, 0.75);
  padding: 15px;
  border-radius: 16px;

  margin-bottom: 15px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);

  transition: transform 0.2s;
}

.cartItem:hover {
  transform: translateY(-3px);
}

/* product image */
.itemImage {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 12px;
}

/* item details */
.itemDetails {
  flex: 1;
  margin-left: 15px;
}

.itemTitle {
  font-size: 16px;
  font-weight: 600;
}

.itemPrice {
  font-size: 15px;
  font-weight: 500;
  margin-top: 6px;
  color: #333;
}

/* Qty box */
.qtyControls {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 110px;
  background: rgba(255, 255, 255, 0.85);
  padding: 6px 12px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.qtyControls button {
  border: none;
  background: none;
  font-size: 14px;
  cursor: pointer;
}

.qtyControls button:hover {
  transform: scale(1.2);
}

.qtyControls span {
  font-size: 15px;
}

/* Remove Icon */
.removeBtn {
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
  color: rgb(255, 82, 82);
}

.removeBtn:hover {
  transform: scale(1.2);
}

/* summary section */
.summaryBox {
  margin-top: 20px;
  padding: 20px;

  background: rgba(255, 255, 255, 0.85);
  border-radius: 16px;

  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
}

.summaryRowTotal {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.summaryRowTotal {
  font-size: 18px;
  font-weight: 700;
}

/* Checkout */
.checkoutBtn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 12px;

  background: #ff6b6b;
  color: white;
  font-size: 16px;
  font-weight: 600;

  cursor: pointer;
  margin-top: 12px;
}

.checkoutBtn:hover {
  background: #ff4a4a;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
