/* Wrapper to center title */
.titleWrapper {
  width: 100%;
  text-align: center;
}

.title {
  font-size: 28px;
  font-weight: 600;
  text-align: center;

  margin: 30px 0 0px 0;

  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(6px);

  padding: 12px 28px;
  display: inline-block;

  border-radius: 14px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);

  color: #333;
  letter-spacing: 0.3px;
}

/* Product container */
.productsContainer {
  width: 100%;
  margin-top: 30px;
  padding: 20px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}
