.button {
  background: linear-gradient(90deg, #3d3d3d, #000);
  color: white;
  padding: 13px 26px;
  border-radius: 14px;
  border: none;
  margin-top: 18px;
  font-weight: 600;
  letter-spacing: 0.4px;
  cursor: pointer;

  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.25), 0 0 10px rgba(255, 190, 215, 0.4);

  transition: all 0.25s ease;

  /* Center button */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.32), 0 0 16px rgba(255, 180, 210, 0.55);
}
