.button {
  background: linear-gradient(90deg, #3d3d3d, #000);
  color: white;
  padding: 13px 26px;
  border-radius: 14px;
  border: none;
  margin-top: 18px;
  font-weight: 600;
  letter-spacing: 0.4px;
  cursor: pointer;

  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.25), 0 0 10px rgba(255, 190, 215, 0.4);

  transition: all 0.25s ease;

  /* Center button */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.32), 0 0 16px rgba(255, 180, 210, 0.55);
}

.container {
  width: 95%;
  margin: auto;
  margin-top: 20px;
  min-width: 900px;
}
.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 16px;
  margin: 10px;
  margin-top: 26px;
}

.table thead tr {
  display: grid;
  grid-template-columns: 1fr 2fr 1.5fr 1fr 1fr 1fr;
  background: #ffffffd9;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 16px 22px;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.08);
}

.table th {
  font-size: 15px;
  color: #4a3f3f;
  font-weight: 600;
  letter-spacing: 0.3px;
  border: none;
  background: transparent !important;
  padding: 0; /* because grid handles spacing now */
  display: flex;
  align-items: center;
}

.noProducts {
  text-align: center;
  padding: 20px;
  font-size: 16px;
  color: #666;
}
